@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

$primary-color: #23B263;
$secondary-color: #701F17;
$tertiary-color: #A9FFCF;

body {
	background: white;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin: 70px 0;
}
